*.png filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
*.wdw filter=lfs diff=lfs merge=lfs -text
*.bkw filter=lfs diff=lfs merge=lfs -text
*.tkw filter=lfs diff=lfs merge=lfs -text
*.bkc filter=lfs diff=lfs merge=lfs -text
*.bke filter=lfs diff=lfs merge=lfs -text
*.tke filter=lfs diff=lfs merge=lfs -text
*.bkg filter=lfs diff=lfs merge=lfs -text
*.tkg filter=lfs diff=lfs merge=lfs -text
*.bkp filter=lfs diff=lfs merge=lfs -text
*.tkp filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.ufo filter=lfs diff=lfs merge=lfs -text
*.wdi filter=lfs diff=lfs merge=lfs -text
*.wdc filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.DLL filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.ndx filter=lfs diff=lfs merge=lfs -text
*.mmo filter=lfs diff=lfs merge=lfs -text
*.fic filter=lfs diff=lfs merge=lfs -text
*.REP filter=lfs diff=lfs merge=lfs -text
*.wdd filter=lfs diff=lfs merge=lfs -text
*.chm filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.php filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.eot filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.woff filter=lfs diff=lfs merge=lfs -text
*.woff2 filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.EXE filter=lfs diff=lfs merge=lfs -text
*.wdk filter=lfs diff=lfs merge=lfs -text
*.wdmodif filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.BMP filter=lfs diff=lfs merge=lfs -text
*.GIF filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.ISS filter=lfs diff=lfs merge=lfs -text
*.FIC filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.wde filter=lfs diff=lfs merge=lfs -text
*.wdg filter=lfs diff=lfs merge=lfs -text
*.WDF filter=lfs diff=lfs merge=lfs -text
*.WDP filter=lfs diff=lfs merge=lfs -text
*.WPF filter=lfs diff=lfs merge=lfs -text
*.env filter=lfs diff=lfs merge=lfs -text
*.wbp filter=lfs diff=lfs merge=lfs -text
*.wcp filter=lfs diff=lfs merge=lfs -text
*.wrp filter=lfs diff=lfs merge=lfs -text
*.wig filter=lfs diff=lfs merge=lfs -text
*.wip filter=lfs diff=lfs merge=lfs -text
*.wlr filter=lfs diff=lfs merge=lfs -text
*.wtp filter=lfs diff=lfs merge=lfs -text
*.wic filter=lfs diff=lfs merge=lfs -text
*.wep filter=lfs diff=lfs merge=lfs -text
*.TXT filter=lfs diff=lfs merge=lfs -text
*.mgr filter=lfs diff=lfs merge=lfs -text
*.wda filter=lfs diff=lfs merge=lfs -text
*.wdap filter=lfs diff=lfs merge=lfs -text
*.xdd filter=lfs diff=lfs merge=lfs -text
*.mdf filter=lfs diff=lfs merge=lfs -text
*.emf filter=lfs diff=lfs merge=lfs -text
*.ENV filter=lfs diff=lfs merge=lfs -text
*.SEM filter=lfs diff=lfs merge=lfs -text
*.VER filter=lfs diff=lfs merge=lfs -text
*.DRT filter=lfs diff=lfs merge=lfs -text
*.prm filter=lfs diff=lfs merge=lfs -text
*.wbw filter=lfs diff=lfs merge=lfs -text
*.wcw filter=lfs diff=lfs merge=lfs -text
*.wrw filter=lfs diff=lfs merge=lfs -text
*.wbc filter=lfs diff=lfs merge=lfs -text
*.wcc filter=lfs diff=lfs merge=lfs -text
*.wrc filter=lfs diff=lfs merge=lfs -text
*.wbe filter=lfs diff=lfs merge=lfs -text
*.wce filter=lfs diff=lfs merge=lfs -text
*.wre filter=lfs diff=lfs merge=lfs -text
*.wbg filter=lfs diff=lfs merge=lfs -text
*.wcg filter=lfs diff=lfs merge=lfs -text
*.wrg filter=lfs diff=lfs merge=lfs -text
*.tmp1 filter=lfs diff=lfs merge=lfs -text
*.tmp2 filter=lfs diff=lfs merge=lfs -text
*.WDW filter=lfs diff=lfs merge=lfs -text
*.ref filter=lfs diff=lfs merge=lfs -text
*.sty filter=lfs diff=lfs merge=lfs -text
*.waudit filter=lfs diff=lfs merge=lfs -text
*.wdcoverage filter=lfs diff=lfs merge=lfs -text
*.wdu filter=lfs diff=lfs merge=lfs -text
*.lnk filter=lfs diff=lfs merge=lfs -text
*.wdignorecleanup filter=lfs diff=lfs merge=lfs -text
*.wdy filter=lfs diff=lfs merge=lfs -text
*.ICO filter=lfs diff=lfs merge=lfs -text
