html,body
{
	height:100%;
}

#wrap
{
	min-height: 100%; 
}

#main
{
	overflow:auto;
	padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer 
{
	position: relative;
	margin-top: -30px; /* negative value of footer height */
	height: 150px;
	clear:both;
	padding-top:20px;
	color:#000;
	width:1170px;
	margin-right:auto;
	margin-left:auto;
	padding-right:60px;
	padding-left:60px;
	border-radius:6px;
}
 
.error_line
}
	color:#f00;
}

.form-signin
{
	width:1170px;
	background-color: #67b168;
}